<launch>
  <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents"  output="screen">
  </node>

  <arg name="laser_enabled" default="true"/>
  <arg name="camera_h_enabled" default="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pedsim_gazebo_plugin)/worlds/khu_5th_corridor2.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  <!-- Spawn HUSKY UR3 -->
  <include file="$(find husky_ur3_gazebo)/launch/spawn_husky.launch">
    <arg name="x" value="0.0" />
    <arg name="y" value="0.0" />
    <arg name="z" value="1.0" />
    <arg name="yaw" value="0" />
    <!-- <arg name="config" value="$(arg config)" /> -->
    <!-- <arg name="joystick" value="$(arg joystick)" /> -->
  </include>
</launch>
